// COLORS
$primary-color: gray;
$secondary-color: black;

$white-color: white;

$dark-grey: black;
$light-grey: #eb5757;

$dark-blue-text: black; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
